.form {
    display: inline-block;
    width: 400px;
    height: 400px;
    margin: 20px;
    border: solid 2px #ddd;
    padding: 20px;
}


.inpurfield {
    margin: 10px;
}

.successMsg{
    color: green;
    font-weight: 700;
}